html {
	overflow-y: scroll;
}

.x {
	position:fixed;
	height: 280px;
	margin-top: 40px;
	margin-left: -285px;
}

.rotate {
	animation: spin 2s forwards;
	transform-origin: 70% 48%;
}

@keyframes spin {
	0% { transform: rotate(135deg); }
	100% { transform: rotate(0deg); }
}

#society {
	animation: society 2s ease forwards;
}

@keyframes society {
	0% { margin-left: 30px; }
	100% { margin-left: 0px; }
}

.leftnav {
	padding: 40px;
	padding-left: 90px;
	height: 100vh;
	position: fixed;
	width: 370px;

}

.title {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat Bold.ttf);
	font-weight: 500;
	font-size: 55px;
}

.menucontent {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat.ttf);
	font-size: 45px;
	font-weight: lighter;
	line-height: 90px;
	margin-top: 60px;
	margin-left: 60px;
	position: fixed;
	height: 520px;
	overflow-y: scroll;
	animation: menuspin 2s forwards;
	transform-origin: -30% -15%;
}

.spinboy {
	animation: spinboy 1s forwards;
	transform-origin: 50% 50%;
}

@keyframes spinboy {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(45deg); }
}

.spinback {
	animation: spinreset 1s forwards;
	transform-origin: 50% 50%;
}

@keyframes spinreset {
	0% { transform: rotate(45deg); }
	100% { transform: rotate(0deg); }
}


#categories {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat.ttf);
	font-size: 20px;
	font-weight: lighter;
	line-height: 30px;
	display: none;
}

@keyframes menuspin {
	0% { transform: rotate(135deg); }
	100% { transform: rotate(0deg); }
}

li {
	list-style: none;
}

.footer {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat Extralight Italic.ttf);
	font-style: italic;
	font-size: 11px;
	line-height: 17px;
	color: #BCBEC0;
	position: fixed;
	margin-top: 580px;
	padding-top: 25px;
	width: 350px;
	background-color: white;
}

.icon {
	float: left;
	width: 30px;
}

.copyright {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat Extralight Italic.ttf);
	font-style: italic;
	font-size: 11px;
	line-height: 17px;
	color: #BCBEC0;
	position: fixed;
	margin-top: 655px;
	border-top: solid 1px;
	border-color: grey;
	padding-top: 25px;
}

/* ARTICLE SCROLL */

.container {
	margin-left: 454px;
	margin-right: 0px;
	position: fixed;
	height: 100vh;
	width: 1000px;
	overflow: scroll;
	animation: container 2s linear forwards;
}

@keyframes container {
	0% { margin-top: 20px; opacity: 0; }
	100% { margin-top: 0px; opacity: 1; }
}

/* ARTICLE CONTAINER */

.articlecontainer {
	display: block;
	width: 270px;
	height: 560px;
	padding:10px;
	float: left;
}

.blank {
	margin-top: -290px;

}

.notice {
	width: 270px;
	height: 270px;
	padding:10px;
	float: left;
}

.noticetitle {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat Bold.ttf);
	font-weight: 500;
	font-size: 20px;
	position: absolute;
	margin-top: -260px;
	padding-top: 10px;
	padding-left: 25px;
	line-height: 30px;
	z-index: 99;

}

.noticebody {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat.ttf);
	font-weight: 300;
	font-size: 13px;
	position: absolute;
	margin-top: -180px;
	padding-top: -20px;
	padding-left: 25px;
	line-height: 20px;
	z-index: 1;
}

.noticesquare {
	position: relative;
	padding: 0px;
	margin-top: 0px;
}

/* FOR HORIZONTAL ARTICLES */

.horizontal {
	width: 560px;
	height: 270px;
	padding: 10px;
}

.horimage {
	float: right;
}

.lefthorimage {
	float: left;
}

/* END HORIZONTAL ARTICLES */

.square {
	position: relative;
	padding: 0px;
	margin-top: -9px;
}

/* FOR HORIZONTAL SQUARE */

.hori {
	margin-top:0px;
}

/* END HORIZONTAL SQUARE */

.triangle {
	position: absolute;
	overflow: hidden;

}

.articledate {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat Italic.ttf);
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
	position: absolute;
	margin-top: -280px;
	padding-top: -20px;
	padding-left: 25px;
	line-height: 30px;
	z-index: 1;
}

.articletitle {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat Bold.ttf);
	font-weight: 500;
	font-size: 20px;
	position: absolute;
	margin-top: -260px;
	padding-top: 10px;
	padding-left: 25px;
	line-height: 30px;
	z-index: 99;

}

a:link {text-decoration: none; color: #000000;}
a:visited {text-decoration: none; color: #000000;}
a:hover {text-decoration: none; color: #9B6262;}
a:active {text-decoration: none; color: #000000;}

.horidate {
	padding-top: 110px;
}

.horititle {
	padding-top: 120px;
}

.righthoridate {
	padding-left: 300px;
	padding-top: 140px;
}

.righthorititle {
	padding-left: 300px;
	padding-top: 150px;
}





















